@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}

body {
  height: 100vh;
}

.sidebar-menu {
  height: 100%;
  background-color: #0066FF;
}

textarea:focus {
  border-color: transparent !important;
  --tw-ring-color: transparent !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-dropdown-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ellipsis {
  width: 100%; /* Adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* ------------------------------------------------- */


.card {
  width: 20rem;
  aspect-ratio: 4 / 5;
  border-radius: 1rem;
  background: #fff;
  padding: 1rem;
  box-sizing: border-box;
}


.placeholder {
  background: #eee;
  position: relative;
  overflow: hidden;
}


.image-placeholder {
  aspect-ratio: 16 / 12;
  margin-bottom: 1rem;
}


.title-placeholder {
  aspect-ratio: 16 / 1.5;
  margin-bottom: 2rem;
}


.text-placeholder {
  aspect-ratio: 16 / 1;
  margin-top: 1rem;
  margin-bottom: 0;
}

.placeholder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(90deg, #eee, #f4f4f4, #eee);
  animation: gradient 1s infinite ease-in-out;
}

@keyframes gradient {
  form {
    left: 0%;
  }
  
  to {
    left: 100%;
  }
}
